/*****************
Flat Base Color
******************/

$turquoise-flat-base:#1ABC9C;
$turquoise-deep-flat-base:#16A085;
$emerald-flat-base:#2ECC71;
$nephritis-flat-base:#27AE60;
$blue-flat-base:#3498DB;
$blue-deep-flat-base:#2980B9;
$purple-flat-base:#9B59B6;
$purple-deep-flat-base:#8E44AD;
$indigo-flat-base:#34495E;
$indigo-deep-flat-base:#2C3E50;
$yellow-flat-base:#F1C40F;
$yellow-deep-flat-base:#F39C12;
$orange-flat-base:#E67E22;
$orange-deep-flat-base:#D35400;
$red-flat-base:#E74C3C;
$red-deep-flat-base:#C0392B;
$grey-light-flat-base:#ECF0F1;
$grey-flat-base:#BDC3C7;
$grey-deep-flat-base:#95A5A6;
$grey-dark-flat-base:#7F8C8D;

/*******************
Material Base Color
********************/
$green-material-base:#259B24;
$green-light-material-base:#8BC34A;
$yellow-material-base:#FFEB3B;
$lime-material-base:#CDDC39;
$amber-material-base:#FFC107;
$orange-material-base:#FF9800;
$orange-deep-material-base:#FF5722;
$pink-material-base:#E91E63;
$purple-material-base:#9C27B0;
$purple-deep-material-base:#673AB7;
$indigo-material-base:#313AA7;
$blue-light-material-base:#03A9F4;
$blue-material-base:#5677FC;
$cyan-material-base:#00BCD4;
$teal-material-base:#009688;
$grey-material-base:#9E9E9E;
$brown-material-base:#795548;
$blue-grey-material-base:#607D8B;
$black-material-base:#212121;
